:root {
    --indigo: #7897fc;
    --midnight: #3242e2;
    --white: #fff;
    --grey: #b8b8bf;
    --black: #000;
    --bg: url(../img/bg.webp);
}

body {
    grid-template-rows: 3em 1fr 3em;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    transition: .25s;
}

body,
main,
main ul,
main li,
main .form,
.bg {
    display: grid;
}

header {
    padding: 1em;
}

nav {
    display: flex;
    justify-content: space-between;
    font-size: 1.6em;
}

nav div {
    display: flex;
    gap: 1em;
}

nav button,
nav i {
    cursor: pointer;
}

nav button {
    padding: 0.3em 1em;
    border: none;
    background-color: var(--black);
    color: #fff;
    border-radius: 2em;
}

nav button:hover {
    box-shadow: 0 0 0 2px var(--indigo);
}

nav i:hover {
    color: var(--indigo);
}


.bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--bg);
    background-size: cover;
    z-index: -1;
}

.loader {
    font-size: 6em;
    margin: auto;
    color: var(--midnight);
    animation: zoomIn 1s forwards;
}

main {
    width: 90%;
    max-width: 720px;
}

main h1 {
    position: fixed;
    font-size: 6em;
    top: 30%;
    left: 50%;
    color: var(--midnight);
    transform: translate(-50%, -50%);
}

main h1 span {
    opacity: 0;
    animation: type 1s 1s forwards;
}

main h1 span:nth-child(2) {
    animation-delay: 1.2s;
}

main h1 span:nth-child(3) {
    animation-delay: 1.4s;
}

main .container {
    position: relative;
    margin: auto auto 6em auto;
}

main .form {
    opacity: 0;
    animation: floatUp .5s 1s forwards;
}

main .form div {
    position: absolute;
    top: -6em;
    width: 50%;
    padding: 1em;
    background: rgb(0 0 0 /.1);
    border-radius: 1em 1em 1em 0;
}

main .form>div:before {
    content: "I'm an AI assistant that helps you get more done. What can I help you with?";
}

main .form::after {
    content: attr(data-replicated-value) " ";
    visibility: hidden;
    white-space: pre-wrap;
}

main textarea {
    position: relative;
    resize: none;
    overflow: hidden;
    outline: none;
    padding: .75rem 1rem;
    width: 32em;
    border-radius: 1em;
    box-shadow: rgb(0 0 0 /.1) 0 -1px 0, rgb(0 0 0 /.1) 0 0 1em;
    border: 1px solid rgb(0 0 0 /.1);
    transition: box-shadow .3s ease-in-out, border .3s ease-in-out;
}

main textarea,
main .form::after {
    padding: .5em 1em;
    font: inherit;
    grid-area: 1 / 1 / 2 / 2;
}

main textarea:focus {
    box-shadow: rgb(74, 114, 245) 0px 0px 3px;
}

main button {
    position: absolute;
    right: .3em;
    top: .3em;
    width: 2em;
    height: 2em;
    color: var(--white);
    background-color: var(--grey);
    border-radius: 1em;
    border: none;
}

main button i {
    position: absolute;
    left: 0.5em;
    top: 0.5em;
}

main ul {
    grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
    gap: 1em;
    list-style: none;
    padding: 0;
}

main li {
    position: relative;
    align-items: center;
    height: 2em;
    border-radius: 1em;
    padding: 0 1em;
    background: #e3e3e3;
    backdrop-filter: blur(2em);
}

main li:after {
    content: "\ea66";
    font-family: 'remixicon';
    right: 1em;
    position: absolute;
}

main li:hover {
    cursor: pointer;
    background: #c5cde8;
}

@keyframes zoomIn {
    0% {
        transform: scale(1);
    }

    99% {
        transform: scale(10);
        opacity: 0;
    }

    100% {
        display: none;
        opacity: 0;
    }
}

@keyframes floatUp {
    0% {
        transform: translateY(-2em);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes type {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}